<div class="flex flex-col gap-8 px-10 py-8 md:px-20">
  <p
    class="text-4xl text-center font-semibold leading-loose text-gray-900 dark:text-white"
  >
    Usuários
  </p>

  <div class="h-80 glassmorphism overflow-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase glassmorphism-darker shadow dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Usuário</th>
          <th scope="col" class="px-6 py-3">Permissão</th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Ações</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of users"
          class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ user.firstName }} {{ user.lastName }}
          </th>
          <td class="px-6 py-4">{{ user.username }}</td>
          <td class="px-6 py-4 lowercase first-letter:uppercase">
            {{ user.role }}
          </td>
          <td class="flex items-center px-6 py-4 text-right space-x-2">
            <a
              (click)="userId = user.id"
              (click)="isEdit = !isEdit"
              (click)="getUserById()"
              class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Editar</a
            >
            <a
              (click)="userId = user.id"
              (click)="isOpen = !isOpen"
              class="cursor-pointer font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Remover</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex flex-shrink justify-center md:justify-end items-center">
    <app-register-form></app-register-form>
  </div>
</div>

@if(isOpen){
<div
  tabindex="-1"
  class="popup-modal absolute flex flex-1 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)]"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button
        (click)="isOpen = false"
        type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="popup-modal"
      >
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg
          class="mx-auto mb-4 text-gray-500 w-12 h-12 dark:text-gray-200"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
          Tem certeza que deseja excluir esse usuário?
        </h3>
        <button
          (click)="deleteUser()"
          type="button"
          class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
        >
          Sim, Tenho certeza
        </button>
        <button
          (click)="isOpen = false"
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Não, cancele
        </button>
      </div>
    </div>
  </div>
</div>
} @if (isEdit) {
<!-- Main modal -->
<div
  tabindex="-1"
  aria-hidden="true"
  class="popup-modal absolute flex flex-1 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)]"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Edite seu usuário
        </h3>
        <button
          (click)="isEdit = false"
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2 sm:col-span-1">
            <label
              for="firstName"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Nome</label
            >
            <input
              [(ngModel)]="userById.firstName"
              type="text"
              placeholder="Seu nome"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label
              for="lastName"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Sobrenome</label
            >
            <input
              [(ngModel)]="userById.lastName"
              required=""
              type="text"
              placeholder="Seu sobrenome"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>

          <div class="col-span-2">
            <label
              for="username"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Usuário</label
            >
            <input
              [(ngModel)]="userById.username"
              placeholder="Seu nome de usuário"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              type="text"
              required=""
            />
          </div>

          <div class="col-span-2">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Senha</label
            >
            <input
              [(ngModel)]="userById.password"
              required=""
              type="password"
              placeholder="Sua senha"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            />
          </div>

          <div class="col-span-2">
            <label
              for="role"
              class="block text-sm font-medium text-gray-900 dark:text-white"
              >Permissão</label
            >
          </div>
          <div
            class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
          >
            <input
              (click)="userById.role = 'ADMIN'"
              [(ngModel)]="userById.role"
              value="ADMIN"
              type="radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              for="bordered-radio-1"
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Admin</label
            >
          </div>
          <div
            class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700"
          >
            <input
              (click)="userById.role = 'USER'"
              [(ngModel)]="userById.role"
              value="USER"
              type="radio"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
            <label
              class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
              >User</label
            >
          </div>
        </div>
        <button
          (click)="updateUser()"
          type="submit"
          class="text-white inline-flex items-center justify-center w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          <svg
            class="me-1 -ms-1 w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Editar usuário
        </button>
      </div>
    </div>
  </div>
</div>
}
